@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
  }
  .range-thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9c6b4a;
    cursor: pointer;
  }
  .range-thumb::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9c6b4a;
    border: none;
    cursor: pointer;}